{% extends "base.html" %}

{% block title %} Change Password {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}


{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Change Password</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('dashboard.index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('user.profile') }}">Profile</a>
                </li>
                <li class="active">
                    <strong>Change Password</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>User Change Password</h5>
                        <div class="ibox-tools">
                            <a href="{{ url_for('user.profile') }}" class="btn btn-white btn-bitbucket btn-sm">
                                <i class="fa fa-level-up"></i> Go Back
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-10"></div>
                            <div class="col-md-2 text-right"></div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">

                                {% for message in get_flashed_messages(category_filter=["error"]) %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        <strong>{{ message | safe }}</strong>
                                    </div>
                                {% endfor %}

                                <form class="form-horizontal" method="post" action="">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="username">Username</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="username" 
                                                value="{{ g.user['username'] }}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="inputCPass">
                                            Current Password <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" name="inputCPass" placeholder="Enter current password" autofocus required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="inputNPass">
                                            New Password <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" name="inputNPass" placeholder="Enter new password" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="inputVPass">
                                            Confirm New Passowrd <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" name="inputVPass" placeholder="Enter new password again" required="">
                                        </div>
                                    </div>
                                    
                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group text-right">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <a href="{{ url_for('user.profile') }}" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
                                            &nbsp;&nbsp;
                                            <button type="submit" class="btn btn-default"><i class="fa fa-save"></i> Change Password</button>
                                        </div>

                                    </div>

                                </form>

                            </div>

                            <div class="col-md-2"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block javascripts %}
    {{ super() }}
{% endblock javascripts %}