{% extends "base.html" %}

{% block title %} Edit Project {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    
    <link href="{{ url_for('static', filename='css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Edit Project</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('dashboard.index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('project.projects') }}">Projects</a>
                </li>
                <li class="active">
                    <strong>Edit Project</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Project Details</h5>
                        <div class="ibox-tools">
                            <a href="{{ url_for('project.projects') }}" class="btn btn-white btn-bitbucket btn-sm">
                                <i class="fa fa-level-up"></i> Go Back
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-10"></div>
                            <div class="col-md-2 text-right">
                                {% if access_delete %}
                                <form action="{{ url_for('project.delete', id=project['project_id']) }}" method="post">
                                    <input class="btn btn-outline btn-danger btn-sm" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                                </form>
                                {% endif %}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">

                                {% for message in get_flashed_messages(category_filter=["error"]) %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        <strong>{{ message | safe }}</strong>
                                    </div>
                                {% endfor %}

                                <form class="form-horizontal" method="post" action="">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="inputPName">
                                            Project Name <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="inputPName" placeholder="Enter project name" 
                                                value="{{ request.form['inputPName'] or project['project_name'] }}" autofocus required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="inputPDesc">Description</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="inputPDesc" rows="3" placeholder="Enter project description">{{ request.form['inputPDesc'] or project['project_desc'] }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" id="data_1">
                                        <label class="control-label col-sm-4" for="inputSDate">
                                            Start Date <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="form-control" autocomplete="off" name="inputSDate" 
                                                    placeholder="Enter project start date" onkeydown="return false" 
                                                    value="{{ request.form['inputSDate'] or project['start_date'] }}" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="data_2">
                                        <label class="control-label col-sm-4" for="inputTDate">
                                            Target End Date <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="form-control" autocomplete="off" name="inputTDate" 
                                                    placeholder="Enter target end date" onkeydown="return false" 
                                                    value="{{ request.form['inputTDate'] or project['target_end_date'] }}" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="data_3">
                                        <label class="control-label col-sm-4" for="inputEDate">Actual End Date</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="form-control" autocomplete="off" name="inputEDate" 
                                                    placeholder="Enter actual end date" onkeydown="return false" 
                                                    value="{{ request.form['inputEDate'] or project['actual_end_date'] }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group text-right">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <a href="{{ url_for('project.projects') }}" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
                                            &nbsp;&nbsp;
                                            <button type="submit" class="btn btn-default"><i class="fa fa-save"></i> Save</button>
                                        </div>

                                    </div>

                                </form>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="wrapper wrapper-content project-manager">
                <div class="row text-center">
                    <h4>Audit Information</h4>
                </div>

                <br>

                <div class="row">
                    <div class="col-lg-12">
                        <dl class="dl-horizontal">
                            <dt>Status:</dt> 
                            <dd>
                                {% if project['actual_end_date'] %}
                                    <span class="label label-default">Closed</span>
                                {% else %}
                                    <span class="label label-primary">Active</span>
                                {% endif %}
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>CREATED ON:</dt> <dd>{{ project['created_on'].strftime('%b %d, %Y') }}</dd>
                            <dt>CREATED BY:</dt> <dd>{{ project['created_by'] }}</dd>
                            <dt>MODIFIED ON:</dt> 
                            <dd>
                                {% if project['modified_no']  %}
                                    {{ project['modified_on'].strftime('%b %d, %Y') }}
                                {% else %}
                                    <span> - </span>
                                {% endif %}
                            </dd>
                            <dt>MODIFIED BY:</dt> 
                            <dd>
                                {% if project['modified_by'] %}
                                    {{ project['modifed_by'] }}
                                {% else %}
                                    <span> - </span>
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block javascripts %}
    {{ super() }}

   <!-- Data picker -->
   <script src="{{ url_for('static', filename='js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>

    <script>
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd 00:00:00',
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
        $('#data_2 .input-group.date').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd 00:00:00',
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
        $('#data_3 .input-group.date').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd 00:00:00',
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    </script>
{% endblock javascripts %}