{% extends "base_auth.html" %}

{% block title %} Error 404 {% endblock title %}

{% block content %}

    <!-- Page content -->
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser.
        </div>

        <div class="card-body text-center px-lg-5 py-lg-5">
            <a href="/">Home</a>
        </div>
    </div>

{% endblock content %}